// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "compass/css3";

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";



h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 3px;
}

/* h1 { */
/*     /\* @include font-size($h1-font-size); *\/ */
/*     font-size: $h1-font-size; */
/*     font-size: remCalc($h1-font-size); */
/* } */

.emp {
    text-transform: uppercase;
}



/* $HELPERS */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.v-margin-10 {
    margin: 10px 0;
}



/* $PAGE SPECIFIC STYLES */
html, body {
    margin: 0;
}

.topbar {
    margin: 20px auto 0;
}

.header, .subheader {
    text-transform: none;
 }


.p1 {
    color: $p1-fg-color;
    background-color: $p1-bg-color;
    padding: 1px;
    .header, .subheader {
	color: $p1-fg-color;
    }
}

.p2 {
    color: $p2-fg-color;
    background-color: $p2-bg-color;
    .header, .subheader {
	color: $p2-fg-color;
    }
}

.p3 {
    color: $p3-fg-color;
    background-color: $p3-bg-color;
    .header, .subheader {
	color: $p3-fg-color;
    }
}


h2, .img-wrapper {
    @extend .text-center;
}

.tm {
    font-size: 32px;
    font-size: remCalc(32px);
    position: relative;
    top: -4px;
}

.highlighted-link {
    font-size: 16px;
    font-size: remCalc(16px);
    text-align: center;
    text-transform: uppercase;
    color: $dark-body-color;
    background-color: $highlight-color;
    display: inline-block;
    width: 100%;
    padding: 10px;
    &:hover {
	color: $dark-body-color;
	background: darken($highlight-color, 5%);
    }
}

.orbit-container .orbit-slides-container {
    .orbit-caption {
	font-family: $header-font-family;
	/* @include text-shadow(rgba(0,0,0,0.5) 1px 1px 1px); */
	color: $highlight-color;
	/* text-transform: uppercase; */
	/* font-weight: 900; */
	//background-color: transparent;
	/* width: auto; */
        width: 45% !important;
        padding: 10px 30px;
	position: absolute;
	display: inline-block;
	bottom: auto;
    }
    .active {
        #captionOne {
	    bottom: 40px;
	    left: -15px;
            .body {
                top: 0;
	        color: $highlight-color;
            }
        }
        #captionTwo {
	    bottom: 40px;
	    left: -15px;
            .title {
                width: 80%;
            }
            .body {
                top: -15px;
                color: #f6b956;
            }
        }
        #captionThree {
	    bottom: 40px;
	    left: -15px;
            .body {
                top: -3px;
                color: #f6b956;
            }
        }
        #captionFour {
	    bottom: 10%;
	    left: 0;
            .title {
                width: 71%;
            }
            .body {
                top: 10px;
	        color: $highlight-color;
            }
        }
    }
}

.orbit-prev, .orbit-next {
    display: none;
}

.orbit-bullets {
    margin-left: 50%;
}

.orbit-caption {
    .title {
	/* text-align: right; */
        text-transform: none;
	font-weight: $header-weight;
	padding: 5px 10px 15px 5px;
	color: #fff;
	/* border-right: 2px solid $highlight-color; */
	/* width: 50%; */
	/* display: inline-block; */
    }
    .body {
	font-size: emCalc(20px);
	font-family: $header-font;
        padding-left: 10px;
	/* width: 50%; */
	/* display: inline-block; */
        /* position: relative; */
        /* top: -25px; */
    }
}

.orbit-slide-number {
    display: none;
}

.orbit-timer {
    display: none;
}

.orbit-bullets li {
    width: 12px;
    height: 12px;
}

/* .orbit-progress, .orbit-transitioning { */
/*     -webkit-transition: all 0.5s ease; */
/* } */

/* #featuredContent { */
/*     width: 970px; */
/*     height: 450px; */
/*     background: transparent url('orbit/loading.gif') no-repeat center center; */
/*     overflow: hidden; */
/* } */
/* #featuredContent img, */
/* #featuredContent div { */
/*     display: none; */
/* } */

.title-blurb-left {
    text-transform: uppercase;
    font-family: $header-font;
    font-size: 24px;
    font-style: justify;
    line-height: 1.45;
}

.title-blurb-right {
    text-align: justify;
}

#benefits-block .subheader {
    margin-top: 20px;
    min-height: 55px;
}

.services-links {
    border-top: 1px solid #ccc;
    ul {
        list-style-position: outside;
    }
}

/*#training-verticals .subheader{
    min-height: 85px;
}*/

#training-verticals {
    p {
      margin-top: 20px;
    }   
}

#training-verticals .blurb{
    text-align: center;
    padding-top: 0;
}

.verticals-details{
   font-size: 13px;
    font-size: remCalc(13px);
    text-align: left;
    text-transform: uppercase;
    color: $dark-body-color;
    background-color: $highlight-color;
    display: inline-block;
    width: 100%;
    padding: 2px 10px;
    &:hover {
	color: $dark-body-color;
	background: darken($highlight-color, 5%);
    }
}

.verticals-details-nolink {
    color: $light-body-color;
}

@media only screen and (max-width: 767px) {
    .orbit-caption {
        .title {
	    border-right: none;
	    width: 60% !important;
        }
        .body {
            display: none;
        }
    }
    #benefits-block .subheader {
	min-height: 0;
    }

    #benefits-block, #training-verticals {
	p {
	    margin-bottom: 60px;
	}
	.subheader {
	    text-align: center;
	    margin-bottom: 0;
	}
    }

    #training-details-button {
	margin-bottom: 60px;
    }

    p.before-button {
	margin-bottom: 20px !important;
    }

    .available-as {
	text-align: center;
	margin-bottom: 10px;
    }
}

.block {
    padding: $section-space 0;
}

.footer {
    color: $light-body-color;
    background-color: $dark-body-color;
    padding-top: $section-space;
    h1, h2, h3, h4, h5, h6 {
	color: $light-body-color;
    }
    p {
	margin: 10px 0;
	&.notice {
	    margin: 40px 10px 20px;
	}
    }
    .map {
        padding-top: 60px;
    }
}

.notice {
    font-size: 12px;
    font-size: remCalc(12px);
    text-align: center;
}
